<div class="wrap">
  <section class="card entry">
    <h2>How are you feeling today?</h2>

    <app-animated-textarea placeholder="Today I feel…" (valueChange)="note.set($event)">
    </app-animated-textarea>

    <div class="row" style="justify-content: flex-end;">
      <button (click)="save()" [disabled]="!canSave()" style="border: none; cursor: pointer; background-color: transparent;">
        <img src="arrow.png" alt="" height="40" width="41" class="send-btn">
      </button>
    </div>
  </section>

  <section class="card quote" *ngIf="quote()">
    <app-quote-card [text]="quote()!.text" [author]="quote()!.author"></app-quote-card>
    <div class="card-footer">
      <div class="suggested-tag" *ngIf="suggestedTag()">
        <span class="label">✨ Suggested Tag:</span>
        <span class="tag-pill">{{ suggestedTag() }}</span>
      </div>
      <div>
        <button mat-button (click)="openDialog()">Share Card</button>
      </div>
    </div>
  </section>
  <section class="footer">
    <span>Synchronize your feelings with AI-powered insights</span>
  </section>


</div>