 .app-shell {
  display: flex;
  justify-content: center;
  flex-direction: column;
   min-height: 100vh;
   padding: 24px;
   font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
   color: #111827;
 }

 .shell-header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
 }

 .app-shell img{
  margin-right: 5px;
 }

 h1 {
   text-align: center;
   font-weight: 800;
   letter-spacing: .4px;
   font-size: 45px;
 }
 

 span{
  display: flow;
  text-align: center;
  margin-bottom: 20px;
  color: grey;
 }


 /* background  */
