.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3e3e3e;
    height: 100vh;
    flex-direction: column;
}


.montserrat-head {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 260px;
}

.sub-title span{
    font-size: 25px;
    font-weight: 400;
}

.sub-title{
    margin: 21px 0px 60px 0px;
}


.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 900;
  font-style: normal;
}

.progress-btn button{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: none;
    background-color: #3e3e3e;
    color: #fff;
    cursor: pointer;
}

.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}